<ion-header>
  <ion-toolbar>
    <ion-title>History</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" [fullscreen]="true">
  <ion-list *ngIf="items?.length; else emptyState">
    <ion-list-header>Recent workouts</ion-list-header>

    <ion-item
      button
      detail="true"
      lines="full"
      *ngFor="let w of items; trackBy: trackById"
      [routerLink]="['/workout-detail', w.id]"
      routerDirection="forward"
      aria-label="Open workout detail"
    >
      <ion-label>
        <h3>{{ w.title }}</h3>
        <p>{{ w.dateISO | date:'medium' }}</p>
        <p *ngIf="w.kpis?.volumeKg as vol">
          Volume: {{ vol | number:'1.0-0' }} kg
        </p>
      </ion-label>

      <ion-note slot="end" *ngIf="w.durationMin">
        {{ w.durationMin }} min
      </ion-note>
      <ion-icon slot="end" name="chevron-forward"></ion-icon>
    </ion-item>
  </ion-list>

  <ng-template #emptyState>
    <ion-list>
      <ion-item lines="none">
        <ion-label class="ion-text-center" color="medium">
          <small>No workouts yet</small>
        </ion-label>
      </ion-item>
    </ion-list>
  </ng-template>
</ion-content>
